<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

        <title>ДОПОМОГА МЕДИЦИНІ</title>

  <!-- Bootstap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Personal style -->
    <!-- <link rel="stylesheet" href="static/css/style.css"> -->

    <!-- Flask style -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css' )}}">

    <!-- Logo -->
    <link rel="icon" type="image/png" href="https://pbs.twimg.com/profile_images/853612004694609920/4W8yRDJA_400x400.jpg"/>

    <!-- fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>

  <body>


    <!--- Include the above in your HEAD tag ---------->
<div id="login">
  <div class="container login-container">
              <div class="row">
                  <div class="col-md-6 login-form-1">
                      <h3>Login for Form</h3>
                      <form>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Your Email *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Your Password *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="submit" class="btnSubmit" value="Login" />
                          </div>
                          <div class="form-group">
                              <a href="#" class="ForgetPwd">Forget Password?</a>
                          </div>
                      </form>
                  </div>
                  <!-- <div class="col-md-6 login-form-2">
                      <h3>Login for Form 2</h3>
                      <form>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Your Email *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" placeholder="Your Password *" value="" />
                          </div>
                          <div class="form-group">
                              <input type="submit" class="btnSubmit" value="Login" />
                          </div>
                          <div class="form-group">

                              <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                          </div>
                      </form>
                  </div> -->
              </div>
          </div>
</div>



  </body>
</html>
