{% extends "00_layout.html" %}
{% block content %}

<main>

  <div class="main_photo">
    <h1 class="display-4">БЛАГОТВОРИТЕЛЬНЫЙ ФОНД <br>
  "ДОПОМОГА МЕДИЦИНІ"</h1>

  </div>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
            <hr class="my-4">
  <h2>О нас</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
      <img src="static/images/main_1.jpg" alt="one_photo">
      </div>
      <div class="col-sm">
        <p class="">Основными задачами деятельности Фонда являются содействие в:</p>
        <ul>
          <li>проведении анализа зарубежного опыта медицинской практики и
            на его основе внедрении в Украине наиболее эффективных методов диагностики и лечения,
            а в случае сложности или невозможности их проведения в Украине,
            содействие в получении квалифицированной медицинской помощи за рубежом;</li>
            <li>установлении международных контактов, обмене опытом для повышения квалификации отечественных медицинских кадров;</li>
            <li>обеспечении отечественных лечебных учреждений современной медицинской техникой, медицинскими расходными материалами, медикаментами.</li>
        </ul>

      </div>
    </div>
  </div>

  <p class="">На нашем сайте любой посетитель быстро и оперативно может получить консультацию по вопросам, связанным c реализацией вышеупомянутых задач.</p>

  <p class="">Более подробную информацию о данном проекте Вы найдете в разделе <a href="{{url_for('main.more_about') }}">О Фонде</a>.</p>
  <p class="">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>


</div>

<!-- NEWS ZONES STARTS -->
<hr class="my-4">
<h2>Последние новости</h2>
<div class="news_zone">


  {% for post in posts.items %}

  <img class="pict" src="{{ post.image_file }}" alt='__sorry__'>

   <div class="text-container">
       <h2 class="news_title"><a class="article-title" href="{{url_for('posts.post', post_id=post.id)}}">{{post.title}}</a></h2>
       <small class="text-muted">{{post.pub_date.strftime('%Y-%m-%d')}}</small>
       <div class="content">
         <p class="article-content">{{post.content}}</p>
           <!-- Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. -->
       </div>
       <div class="show-more">
           <a href="{{url_for('posts.post', post_id=post.id)}}">Show more</a>
       </div>
   </div>

  {% endfor %}
            <hr class="my-4">
</div>
  <p class="">Больше новостей Вы найдете в разделе <a href="{{url_for('main.news') }}">Новости</a>.</p>
        </div>
    </div>

</main>



{% endblock content%}
