{% extends "00_layout.html" %}
{% block content %}
<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Что мы делаем?</h2>
            <hr class="my-4">

  <div class="container">
    <p><b class="emphesise"> Целями данного проекта </b> являются:</p>
    <ul>
      <li>создание единого международного медицинского телекоммуникационного пространства (ЕММТП);</li>
      <li>содействие реформированию системы здравоохранения Украины;</li>
      <li>предоставление любому зарегистрированному посетителю нашего портала возможности принять участие в реализации
      <a class="general_link" href="{{url_for('main.directs_all') }}"> Программ Фонда </a> и получения информационно-консультивной медицинской помощи.</li>
    </ul>

<p><b class="emphesise"> Портал ЕММТП </b> является самостоятельным компонентом международной медицинской информационной инфраструктуры,
        который реализует доставку, анализ и обработку медицинской информации посредством персонального доступа клиентов,
        партнеров и сотрудников к электронным Web-сервисам портала.</p>


<p><b class="emphesise"> Задачи </b><br>
Портал позволяет создать единое хранилище данных международных медицинских информационных потоков,
интегрировать технологически разнородные процессы и объединить географически удаленных участников Проекта,
 дает возможность организовать сотрудничество в самых различных направлениях: содействие в выборе
 медицинского учреждения и медицинского персонала, получении медицинских услуг,
 продаже и приобретении медицинского оборудования, расходных материалов, медикаментов,
 проведении консультаций, конференций в онлайн-режиме, повышении квалификации медицинских работников,
 формирует имидж в сети Интернет, информирует о наших Программах, способствуя привлечению клиентов.
 Он позволяет накапливать и систематизировать получаемую медицинскую информацию,
 давая возможность принимать участие в реализации программ,
 ориентированных на целевые группы клиентов, используя базу накопленной о них информации
 (Программа медицинского страхования и т.д.), обеспечивает единый, защищенный,
  регламентированный и круглосуточный доступ посетителей к информации.</p>

<p>Если Вы у нас на сайте первый раз, Вам необходимо пройти несложную, но необходимую процедуру регистрации.
Мы полностью осознаем свою ответственность и обещаем Вам конфиденциальность,
корректность и бережное отношение к той информации, которую Вы посчитаете нужной нам предоставить.</p>

<p>Если Вы не нашли для себя полезную информацию на нашем сайте сейчас,
 мы сделаем все возможное, чтобы в следующий раз она непременно появилась.</p>

<p>Будем Вам благодарны за предложения, пожелания и конструктивную критику.</p>
  </div>

{#  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>#}


</div>




        </div>
    </div>


</main>


{% endblock content%}
