{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Как стать членом нашей команды?</h2>
            <hr class="my-4">

  <div class="container">
    <p>Мы всегда открыты для новых людей и новых идей!</p>
    <p>Что бы стать частью команды, пожайлуста, свяжитесь с нами! <br>
    Контакты можно найти сдесь <a class="" href="{{url_for('main.contacts') }}">здесь</a></p>
  </div>

{#  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>#}


</div>



        </div>
    </div>


</main>

{% endblock content%}
