{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Информация о Фонде</h2>
            <hr class="my-4">

  <div class="container">
    <a class="decorated_link" href="{{url_for('main.about_us') }}">Что мы делаем</a><br>
    <a class="decorated_link" href="{{url_for('main.history') }}">Наша история</a><br>
    <a class="decorated_link" href="{{url_for('main.team') }}">Наша команда</a><br>
    <a class="decorated_link" href="{{url_for('main.more_about') }}">Здесь</a><br>
    <a class="decorated_link" href="{{url_for('main.more_about') }}">могут быть</a><br>
    <a class="decorated_link" href="{{url_for('main.more_about') }}">дополнительные линки</a><br>
    <a class="decorated_link" href="{{url_for('main.more_about') }}">раздела "О Фонде"</a><br>
  </div>
  <hr class="my-4">

  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>


</div>



        </div>
    </div>


</main>

{% endblock content%}
