{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Программа Медицинского Обмена (ПМО)</h2>
            <hr class="my-4">

  <div class="container lead">
    <p><b class="emphesise">Задачи</b></p>

    <p>Содействие в организации обучения украинских врачей современным методам диагностики,
    лечения и организации здравоохранения в ведущих отечественных и зарубежных медицинских центрах с последующим внедрением этих методов.
    Содействие в организации работы в клиниках Украины ведущих зарубежных специалистов.
    Содействие в организации и проведении международных семинаров, конгрессов, конференций по внедрению новых методов диагностики и лечения.
    Оказание содействия украинским врачам в участии в международных семинарах, конгрессах, съездах и т.д.</p>

    <p><b class="emphesise">Результаты ПМО</b></p>

    <p>С 1997 года в Программе приняли участие более 150 украинских врачей различных специальностей:
    кардиологи, кардиохирурги, электрофизиологи, акушеры-гинекологи, ортопеды-травматологи, торакальные хирурги,
    онкологи, эндокринологи, пульмонологи, пластические хирурги, косметологи, стоматологи, челюстно-лицевые хирурги,
    офтальмологи, невропатологи, урологи, патогистологи, специалисты лучевой диагностики, педиатры,
    руководители лечебных учреждений и т.д. из Киева, Одессы, Ровно, Черкасс, Винницы...</p>

    <p>Программа Медицинского Обмена способствовала внедрению в Украине новой методики хирургического лечения ишемической болезни сердца —
      аорто-коронарного шунтирования на работающем сердце.</p>

    <p>После посещения в рамках Программы госпиталя «Scott&White», Temple, Texas, USA
    и благодаря последующей совместной работе с известными американскими кардиохирургами Чарльзом Райтером и Ренди Болтоном,
    ведущий украинский кардиохирург, заведующий отделением хирургического лечения ишемической болезни сердца
    Национального института сердечно-сосудистой хирургии им Н.М. Амосова АМН Украины, профессор
    Анатолий Викторович Руденко, внедрив данную методику, снизил летальность с 11,1% (данные 2000-го года) до 0,5% ( 2006 год).</p>

    <p>Внедрение данной методики позволило увеличить количество операций в 9 раз и значительно снизить себестоимость операции.
   К настоящему времени в отделении под руководством профессора А.В. Руденко
   успешно проопировано более пяти тысяч пациентов по данной методике.
    Сегодня в мире всего несколько клиник активно применяют данный метод, а профессор А. В. Руденко
    входит в число лучших кардиохирургов планеты.</p>

    <p>В рамках нашей Программы доктор Чарльз Райтер и проф. А. В. Руденко в декабре 2005 года
      внедрили в отечественной кардиохирургической практике модификацию операции «МЕЙЗИ»
      по лечению фибрилляции предсердий. К настоящему времени профессор А.В. Руденко
      успешно проопировал более 50 пациентов по данной методике. </p>

    <p>Результатом партнерства БФ «Допомога медицині» и Научно-практического
      центра детской кардиологии и кардиохирургии МЗО Украины под руководством проф.
      Ильи Николаевича Емца является организация с 2005 года сотрудничества с
      детским госпиталем Necker Enfants Malades, Paris, France.</p>

      <p>В 2006-2007 годах в рамках сотрудничества с МБФ «Украина 3000» по
        Программе «Від лікарні до лікарні» были организованы поездки врачей из
        Ровенской и Винницкой областных детских больниц в США, во время
        которых они ознакомились со структурой, медицинской и
        научно-техническими базами ведущих детских госпиталей Техаса
        (Medical City Children’s Hospital, Texas Scottish Rite Hospital
        for Children, Cook Children's Medical Center).</p>

    <p>С ноября 2006 года достигнута договоренность о сотрудничестве с St.
      Jude Children’s Research Hospital, Memphis, Tennessee, являющимся
      ведущим мировым детским онкологическим и онкогематологическим центром.</p>
  </div>

  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>


</div>




        </div>
    </div>


</main>

{% endblock content%}
