{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Организации-партнеры</h2>
            <hr class="my-4">

            <div class="news_zone">
              {% for post in posts.items %}
               <img class="pict_2 img-thumbnail" src="{{ post.image_file }}" alt='__sorry__'>

               <article class="media content-section">
                 <div class="media-body">
                   <h2><a class="article-title" href="{{url_for('organizations.orgs', orgs_id=post.id)}}">{{post.title}}</a></h2>

                   {% if post.specialization != "None" %}
                      <p>Специализация: {{ post.specialization }}</p>
                    {% endif %}
                   {% if post.city != "None" %}
                      <p>Город: {{ post.city }}</p>
                   {% endif %}
                   {% if post.country != "None" %}
                      <p>Страна: {{ post.country }}</p>
                   {% endif %}
                 </div>
               <hr>
               </article>

              {% endfor %}

            </div>

{#  <p class="">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>#}


</div>




        </div>
    </div>


</main>

{% endblock content%}
