{% extends "00_layout.html" %}
{% block content %}

<main>


<!-- "30_treat_system_layout.html" -->
<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Доктора</h2>

            <hr class="my-4">

            <div class="news_zone">
              {% for post in posts.items %}
               <img class="pict_2 img-thumbnail" src="{{ post.image_file }}" alt='__sorry__'>

               <article class="media content-section">
                 <div class="lead media-body">
                   <h2><a class="article-title" href="{{url_for('doctors.doctor', doctor_id=post.id)}}">{{post.name}}</a></h2>
                     {% if post.sex == 'male'%}
                      <p>Пол: Мужчина</p>
                     {% else %}
                      <p>Пол: Женщина</p>
                      {% endif %}
                   {% if post.city != "None" %}
                      <p>Город: {{ post.city }}</p>
                   {%else%}
                   {% endif %}
                   {% if post.specialization != "None" %}
                      <p>Специализация: {{ post.specialization }}</p>
                    {%else%}
                   {% endif %}
                   <!-- <p class="article-content">{{post.biography}}</p> -->

                 </div>
               <hr>
               </article>

              {% endfor %}

</div>
<div class="centred">
    {% block treatment %}

    {% endblock treatment %}
  </div>
  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>





        </div>
    </div>


</main>

{% endblock content%}
