{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">



          <div class="main_info">
              <h2>Все партнеры</h2>
                      <hr class="my-4">

            <div class="container">
              <a class="decorated_link" href="{{url_for('main.doctors') }}">Доктора</a><br>
              <a class="decorated_link" href="{{url_for('main.organizations') }}">Органицзации</a><br>
              <a class="decorated_link" href="{{url_for('main.member_plus') }}">Стать партнером</a><br>
            </div>
            <hr class="my-4">

          {#  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>#}


          </div>
    </div>


</main>

{% endblock content%}
