{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Наши контакты</h2>
            <hr class="my-4">

  <div class="container lead">
    <p><b class="emphesise"> Благотворительный Фонд «Допомога медицині»</b></p>

  <p><b class="emphesise">Почтовый адрес:</b><br>
ул. Малышка, 1 <br>
02192, г. Киев, Украина </p>

<p><b class="emphesise">тел./факс.: </b>(044) 331-70-63</p>

<p><b class="emphesise">e-mail: </b>info@cfmr.org.ua</p>

<p><b class="emphesise">Реквизиты:</b><br>
Расчетный счет No 2600330239 в АБ "Укргазбанк" <br>
МФО 320478 <br>
Идентификационный код 26384133</p>

  </div>

  <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>


</div>



        </div>
    </div>


</main>

{% endblock content%}
