{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Поддержать проект</h2>
            <hr class="my-4">

  <div class="container">

            <h4>Платежные реквизиты:</h4><br>
      <small>*Для того, что бы помочь проекту, Вы можете пожертвовать любую доступную Вам сумму.</small>

      <ul>
        <li>КОД ЕДРПОУ: 123151256895, 4901, Киев, пр. Хрещатик, 20</li>
        <li>расчетный счет:  256458565498465165 в ПАТ "ПриватБанк" МФО 23568 ЕДРПОУ/ДРФО 6548515</li>
        <li>Номер корпоративной карты в ПАТ "ПриватБанк": 5498465198465165465 Пупкин В.В.</li>
        <!-- <li>электронный адрес: test@gmail.com</li>
        <li>контактный телефон: 937 99 92 </li> -->
      </ul>
      <div class="col-sm">

      </div>
  </div>

{#  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>#}


</div>
        </div>
    </div>


</main>

{% endblock content%}
