{% extends "00_layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Поддержать проект</h2>
            <hr class="my-4">

  <div class="container">

            <p>Для того, что бы <b>помочь проекту</b> , Вы можете пожертвовать любую доступную Вам сумму.<br>
               Резвезиты:</p>
      <!-- <small>*Для того, что бы помочь проекту, Вы можете пожертвовать любую доступную Вам сумму.</small> -->

      <ul>
        <li>КОД ЕДРПОУ: <b>123151256895</b>, 4901, Киев, пр. Хрещатик, 20</li>
        <li>Расчетный счет:  <b>256458565498465165</b> в ПАТ "ПриватБанк" МФО <b>23568</b> ЕДРПОУ/ДРФО <b>6548515</b></li>
        <li>Номер корпоративной карты в ПАТ "ПриватБанк": <b>5498465198465165465</b>, Пупкин В.В.</li>
        <!-- <li>электронный адрес: test@gmail.com</li>
        <li>контактный телефон: 937 99 92 </li> -->
      </ul>
      <div class="col-sm">

      </div>
  </div>

{#  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>#}


</div>
        </div>
    </div>


</main>

{% endblock content%}
