body {
  background: #8FC7E0;
  /* color: rgba(0, 0, 0, 0.5); */
}


.btn, .btn-primary {
  background-color: inherit;
  color: rgba(0, 0, 0, 0.5);
  border: 0px;
}

.btn-primary :hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  border: 0px;
}

.divider {
  color: rgba(0, 0, 0, 0.5);
}
