{% extends "layout.html" %}
{% block content %}

<main>

<!-- MAIN CONTENT ZONE STARTS -->
      <div class="jumbotron">
        <div class="container">


<div class="main_info">
    <h2>Наша история</h2>
            <hr class="my-4">

  <div class="container">
    <!-- <div class="row"> -->
      <!-- <div class="col-sm">
      <img src="static/images/main_1.jpg" alt="one_photo">
      </div> -->
      <p class="lead"> <b class="emphesise"> БЛАГОТВОРИТЕЛЬНЫЙ ФОНД “ДОПОМОГА МЕДИЦИНІ” </b> основан в 2003 году.</p>
      <div class="col-sm">


        <p class="lead">Вместе с международным директором Фонда, Джоном Вудом (президентом «John Wood Ministries» и «International Medical Education Foundation»,
          Waco, Texas, USA) мы с 1997 года внедряем в Украине Программу Медицинского Обмена.
          С 1997 года в Программе приняли участие более 300 украинских врачей различных специальностей.
          При нашем содействии отечественные специалисты прошли стажировки в ведущих зарубежных клиниках,
          приняли участие в съездах, семинарах, международных конференциях в Италии, Швейцарии, США, Германии, Франции,
          получили возможность обменяться опытом с зарубежными коллегами в отечественных клиниках.</p>

      </div>
    <!-- </div> -->
  </div>


  <p class="lead">Мы будем рады каждому Вашему посещению и постараемся быть Вам полезными.</p>


</div>




        </div>
    </div>


</main>

{% endblock content%}
